/* styles.css */

/* Hide the table of contents and its layout */
div#table-of-contents, div#table-of-contents-layout, div[class*="toc"], aside {
  display: none !important;
}

/* narrow the search field, tweak hover, etc. */
#search-bar-entry {
  border-radius: 0.75rem;
}