/* styles.css */

/* Hide the topbar (navbar) */
/* div.flex.items-center.lg\:px-12.h-16.min-w-0.px-4 {
  display: none !important;
} */

/* Hide the table of contents and its layout */
div#table-of-contents, div#table-of-contents-layout, div[class*="toc"], aside {
  display: none !important;
}

@media (min-width: 1024px) {
    .lg\:pl-\[23\.7rem\] {
        padding-left: 21.7rem !important;
    }
}

.video-background {
    position: fixed;
    top: 0;
    left: "21rem";
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}



.dark #sidebar-content {
    background-color: rgb(var(--background-dark)) !important;
}

.light div[class^="Page_sidebar"], .light #sidebar-content {
    background-color: rgb(var(--background-light)) !important;
}