/* styles.css */

/* Hide the topbar (navbar) */
/* div.flex.items-center.lg\:px-12.h-16.min-w-0.px-4 {
  display: none !important;
} */

/* Hide the table of contents and its layout */
div#table-of-contents, div#table-of-contents-layout, div[class*="toc"], aside {
  display: none !important;
}